world.sqlite
server-settings.json
data/scripts/Source/*
data/scripts/*.pex

data/strings/*.strings
data/strings/*.dlstrings
data/strings/*.ilstrings
data/*.esm
data/*.esp
data/*.bsa
data/manifest.json

MpClientPlugin.dll
skymp5-server.exe
skymp5-server-old.exe
skymp5-server-src.exe
skymp5-server-exe-src.js
server.js
dist_front
world
server-win.exe
server-linux
server-macos

server/
skymp5-server.ts
server-ts/
